<%- include('../includes/head.ejs') %>
<link rel="stylesheet"
      href="/css/forms.css">
<link rel="stylesheet"
      href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form"
              action="/reset-password"
              method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email">
            </div>
            <% if (errorMessages.length > 0) { %>
            <% errorMessages.forEach(errorMessage => { %>
            <div class="user-message user-message--error">
                Error: <%= errorMessage %>
            </div>
            <% })} %>
            <input type="hidden"
                   name="_csrf"
                   value="<%= csrfToken %>">
            <button type="submit"
                    class="btn">
                Reset Password
            </button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>