<%- include('../includes/head.ejs') %>
<link rel="stylesheet"
      href="/css/forms.css">
<link rel="stylesheet"
      href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form"
              action="/signup"
              method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text"
                       name="name"
                       id="name"
                       value="<%= oldInput.name%>"
                       class="<%= errorMessages.find(error => error.param === 'name') ? 'invalid' :''%>">
            </div>
            <div class=" form-control">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       value="<%= oldInput.email%>"
                       class="<%= errorMessages.find(error => error.param === 'email') ? 'invalid' :''%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password"
                       name="password"
                       id="password"
                       value="<%= oldInput.password%>"
                       class="<%= errorMessages.find(error => error.param === 'password') ? 'invalid' :''%>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password"
                       name="confirmPassword"
                       id="confirmPassword"
                       value="<%= oldInput.confirmPassword%>">
            </div>
            <% if (errorMessages.length > 0) { %>
            <% errorMessages.forEach(errorMessage => { %>
            <div class="user-message user-message--error">
                Error: <%= errorMessage.msg || errorMessage %>
            </div>
            <% })} %>
            <input type="hidden"
                   name="_csrf"
                   value="<%= csrfToken %>">
            <button type="submit"
                    class="btn">
                Signup
            </button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>