<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <button type="submit" class="btn">
            Add Product
        </button>
    </form>
</main>