<%- include('../includes/head.ejs') %>
<link rel="stylesheet"
      href="/css/forms.css">
<link rel="stylesheet"
      href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form"
              action="/admin/edit-product/<%= product._id %>"
              method="POST"
              enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text"
                       name="title"
                       id="title"
                       value="<%= product.title %>"
                       class="<%= errorMessages.find(error => error.param === 'title') ? 'invalid' :''%>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="file"
                       accept="image/png,image/jpg,image/jpeg"
                       name="image"
                       id="image">
            </div>
            <div class="form-control">
                <label for="price">Price ($)</label>
                <input type="number"
                       name="price"
                       id="price"
                       step="0.01"
                       min="0"
                       value="<%= product.price %>"
                       lass="<%= errorMessages.find(error => error.param === 'price') ? 'invalid' :''%>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description"
                          id="description"
                          rows="5"
                          class="<%= errorMessages.find(error => error.param === 'description') ? 'invalid' :''%>"></textarea>
            </div>
            <input type="hidden"
                   name="_csrf"
                   value="<%= csrfToken %>">
            <% if (errorMessages.length > 0) { %>
            <% errorMessages.forEach(errorMessage => { %>
            <div class="user-message user-message--error">
                Error: <%= errorMessage.msg || errorMessage %>
            </div>
            <% })} %>
            <button type="submit"
                    class="btn">
                Save Changes
            </button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>