<form method="POST"
      action="/cart">
    <button class="btn"
            type="submit">Add To Cart</button>
    <input type="hidden"
           name="productId"
           value="<%= product._id %>">
    <input type="hidden"
           name="_csrf"
           value="<%= csrfToken %>">
</form>