<section class="pagination">
    <% if(page !== 1) { %>
    <a href="/?page=1">1</a>
    <% } %>
    <% if (hasPerviousPage && page > 2) { %>
    <a href="/?page=<%= page - 1 %>"><%= page - 1 %></a>
    <% } %>
    <a href="#"
       class="active"><%= page %></a>
    <% if (hasNextPage) { %>
    <a href="/?page=<%= page + 1 %>"><%= page + 1 %></a>
    <% } %>
    <% if (lastPage !== page && page + 1 !== lastPage) { %>
    <a href="/?page=<%= lastPage %>"><%= lastPage %></a>
    <% } %>
</section>