<%- include('../includes/head.ejs') %>
<link rel="stylesheet"
      href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length > 0) { %>
        <ul class="cart__item-list">
            <% products.forEach(({product, quantity, _id}) => { %>
            <li class="cart__item">
                <h1><%= product.title %></h1>
                <h2>Quantity: <%= quantity %></h2>
                <form action="/cart-delete-item"
                      method="POST">
                    <button class="btn danger"
                            type="submit">Delete</button>
                    <input type="hidden"
                           name="productId"
                           value="<%= product._id %>">
                    <input type="hidden"
                           name="_csrf"
                           value="<%= csrfToken %>">
                </form>
            </li>
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <a class="btn"
               href="/checkout">Order Now!</a>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>