<%- include('../includes/head.ejs') %>
<link rel="stylesheet"
      href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(({product, quantity, _id}) => { %>
            <li class="cart__item">
                <h1><%= product.title %></h1>
                <h2>Quantity: <%= quantity %></h2>
            </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: $ <%= totalSum %></h2>
        </div>
        <div class="centered">
            <button id="order-btn"
                    class="btn">ORDER</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                const stripe = Stripe('pk_test_dzJQMeGs6NXrU0UEMA2Nn44q00MUnFjPKi');
                const orderBtn = document.getElementById('order-btn');

                orderBtn.addEventListener('click', () => {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
            </script>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>