<%- include('../includes/head.ejs') %>
<link rel="stylesheet"
      href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(products.length > 0) { %>
        <div class="grid">
            <% products.forEach(product => { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="/<%= product.imageUrl %>"
                         alt="<%= product.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$ <%= product.price %></h2>
                    <p class="product__description"><%= product.description %></p>
                </div>
                <div class="card__actions">
                    <% if (isAuthenticated) { %>
                    <%- include('../includes/add-to-cart.ejs', { product }) %>
                    <% } %>
                </div>
            </article>
            <% }) %>
        </div>
        <%- include('../includes/pagination.ejs', {hasPerviousPage, hasNextPage, page, lastPage }) %>
        <% } else { %>
        <h1>No posts found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>